.banner {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../images/the-office.jpg); 
	background-size: cover; 
	background-position: center;
	padding-bottom: 200px; 
	text-align: center; 
}

.banner h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 70px; 
	text-align: center; 
	color: white; 
	padding-top: 150px; 
	margin: 0; 
}

.banner h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px; 
	text-align: center; 
	color: white; 
	font-weight: lighter;
}

.banner a {
	color: white; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px; 
	text-align: center;
	background-color: #00263b; 
	padding: 10px; 
	text-decoration: none; 
	border-radius: 4px; 
	transition: 0.3s;
}

.banner a:hover {
	color: #00a1ab
}
