.button {
	color: white; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px; 
	text-align: center;
	background-color: #00263b; 
	padding: 10px; 
	text-decoration: none; 
	border-radius: 4px; 
	transition: 0.3s; 

}

.button:hover {
	color: #00a1ab
}